@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: 'IBM Plex Sans',
      density: 0,
    )
  );
}

:root {
  //Page Spacing
  --static-display: block;
  --static-max-width: 1200px;
  --static-margin-inline: auto;
  --static-padding: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(svg, svg *) {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

ul,
ol {
  padding: revert;
}
